# ---------------------------------------------- #
# Exports / Sources
# ---------------------------------------------- #

# Node / NVM
export NVM_DIR="/Users/Zion/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"  # This loads nvm

# Ruby / RVM
export PATH="$PATH:$HOME/.rvm/bin"
[[ -s "$HOME/.rvm/scripts/rvm" ]] && source "$HOME/.rvm/scripts/rvm"

# Paths
export PATH=/usr/local/bin:/opt/local/bin:/opt/local/sbin:$PATH
export PATH=/usr/local/share/npm/bin:$PATH
export PATH=/usr/local/heroku/bin:$PATH
export PATH=/Applications/Android/SDK/platform-tools:$PATH

# Language Support
export LC_CTYPE=en_US.UTF-8
export LC_ALL=en_US.UTF-8

# Bash auto-completion
if [ -f $(brew --prefix)/etc/bash_completion ]; then
  source $(brew --prefix)/etc/bash_completion
fi

# Git auto-completion
source ~/.gitbash/git-completion.bash

# WordPress auto-completion
source $HOME/.wp-cli/wp-completion.bash
